@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

.h2{
    color:#fff;
    font-size:35px;
}

.box{
    padding-top:1%;
    font-family: Nunito;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textBox{
    text-align: center;
    color:#fff;
}

.projeBox{
    border-radius:20px;
    padding:1%;
    width: 80%;
}