@import './../skils/skil.module.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
.box{
    color:#000;
    padding-top:10%;
}

.textBox{
    font-family:Nunito ;
    text-align: center;
}

.photoBox{
    width: 80%;
    margin: 0px auto;
}

@media only screen and (max-width:816px){
    .textBox{
        text-align: center;
    }
}